<section>
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <%= render 'card', title: 'Fullcalendar', link: full_calendar_path %>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= render 'card', title: 'Infinite Calendar', link: infinite_calendar_path %>
      </div>
      <div class="col-sm-6 col-lg-4">
        <%= render 'card', title: 'Nothing', link: root_path %>
      </div>
    </div>
  </div>
</section>
